
@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Upgrade_az.Models.CourseDetail;

<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">

                <div class="breadcrumbs-wrap">
                    <h1 class="breadcrumb-title">Full Width Courses</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Courses about @ViewBag.Category.Name</li>
                        </ol>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ============================ Page Title End ================================== -->
<!-- ============================ Full Width Courses  ================================== -->
<section class="pt-0">
    <div class="container">


        <!-- Row -->
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12">

                <!-- Row -->
                <div class="row align-items-center mb-3">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        We found <strong>@ViewBag.CoursesCount</strong> courses for you
                    </div>

                </div>
                <!-- /Row -->

                <div class="row">
                    @foreach (var courses in ViewBag.Courses)
                    {
                        Course courseinfo = (Course)courses;


                                  <div class="col-lg-4 col-md-6">
                                <div class="education_block_grid style_2">

                                    <div class="education_block_thumb n-shadow" >
                                        <a asp-action="Details" asp-controller="course" asp-route-id="@courseinfo.Id"><img src="~/uploads/@courseinfo.Photo"  style=" width:100%; min-height: 300px; max-height:363px;" class="img-fluid" alt=""></a>
                                    </div>

                                    <div class="education_block_body">
                                        <h4 class="bl-title"><a asp-action="Details" asp-controller="course" asp-route-id="@courseinfo.Id">@courseinfo.Title</a></h4>
                                    </div>

                                    <div class="cources_facts">
                                        <ul class="cources_facts_list">
                                            <li class="facts-5">@courseinfo.Category.Name</li>
                                        </ul>
                                    </div>

                                    <div class="cources_info">
                                        <div class="cources_info_first">
                                            <p>@courseinfo.CourseDesc</p>
                                        </div>
                                    </div>

                                    <div class="education_block_footer">
                                        <div class="education_block_author">
                                            <div class="path-img"><a href="#"><img src="~/uploads/teachers/@courseinfo.Instructor.Photo" class="img-fluid" alt=""></a></div>
                                            <h5><a href="#">@courseinfo.Instructor.FullName</a></h5>
                                        </div>
                                    </div>

                                </div>
                            </div>
                    }
                </div>

                <!-- Row -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">

                        <!-- Pagination -->
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                                <button type="button" class="btn btn-loader">Load More<i class="ti-reload ml-3"></i></button>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /Row -->

            </div>

        </div>
        <!-- Row -->

    </div>
</section>